/* index.css */

body {
  background-color: #2b2d42; /* 다크한 배경 */
  color: #edf2f4; /* 글씨는 밝은색 */
}

.header {
  color: #edf2f4;
  text-align: center;
  margin: 20px 0;
}

.table {
  background-color: #ffffff; /* 테이블 배경 흰색 */
}

.table-dark th {
  background-color: #333333; /* 테이블 헤더 다크 */
}

button {
  border-radius: 4px;
}
